{% extends 'nfl/base.html' %}

{% block content %}
	<ul class= "nav">
		<li><a href='../'>Home</a></li>
		<li><a href='../examples'>Examples</a></li>
		<li><a href="../canvas">Canvas</a></li>
		<li class="active"><a href="../contact">Contact Us</a></li>
	</ul><br><br>

	<p>This is the Contact Us page. Things that will go on this page are:</p><br>
	<ul>
		<li>Names</li>
		<li>Backgrounds</li>
		<li>Email Addresses</li>
		<li>Message form for people who want to leave (public?) messages</li>
	</ul>
{% endblock content %}